{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

    <!-- SEO title & description -->
    <title>MicroPython Web REPL | Brilliant Labs</title>
    <meta name="description" content="Web Bluetooth based REPL for Brilliant Labs AR devices.">
    <link rel="canonical" href="https://repl.brilliant.xyz" />

    <!-- Facebook & Twitter card meta -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@brilliantlabsAR" />
    <meta property="og:title" content="MicroPython Web REPL | Brilliant Labs" />
    <meta property="og:description" content="Web Bluetooth based REPL for Brilliant Labs AR devices." />
    <meta property="og:image" content="https://repl.brilliant.xyz/images/share.png" />
    <meta property="og:url" content="https://repl.brilliant.xyz" />
    <meta property="og:type" content="website" />

    <!-- Import the bluetooth functions from the bluetooth.js file -->
    <script src="{% static 'js/bluetooth.js' %}"></script>

</head>

<body>

    <div class="sidebar close">
        <div class="app-header">
            <span></span>
            <span class="menu-close">&#9587;</span>
        </div>
        {% if request.user.is_authenticated %}
        <div class="heading"> {% if  social_acc %}<img class="avatar" src="{{social_acc.get_avatar_url}}">{% endif %}<span>{{request.user.username}}</span></div>
            <div class="profile-info">
                <!-- <a href="#"><img src="{% static 'images/black_user.png' %}" class="menu-img-icon" alt=""> <span> Update Profile</span></a> -->
                <a href="javascript:void(0)" class="firmware-update"><img src="{% static 'images/menu_device_frame_new.png' %}" class="menu-img-icon" alt=""> <span> Update Device Firmware</span></a>
                <a href="https://www.brilliantmonocle.com/terms"   target="_blank"><img src="{% static 'images/menu_licence_new.png' %}" class="menu-img-icon" alt=""> <span> License Agreement</span></a>
                <a href="https://www.brilliantmonocle.com/privacy"  target="_blank"><img src="{% static 'images/menu_data_new.png' %}" class="menu-img-icon" alt=""> <span> Data Privacy</span></a>
                <a href="https://docs.brilliantmonocle.com/" target="_blank"><img src="{% static 'images/menu_help_new.png' %}" class="menu-img-icon" alt=""> <span> Documentation</span></a>
            </div>
            <form action="{% url 'account_logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
            </form>
            {% else %}
                <a href="{% url 'login' %}" class="logout-btn">Login</a>
            {% endif %}
            <br><br>
    </div>
    <div class="app">

        <!-- Title -->
        <!-- <h1 class="brand-title">MicroPython Web REPL</h1> -->
        <div class="app-header">
            <div>
                <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
            <h1 class="app-title">TERMINAL</h1>
            <span class="menu-btn"><i class="menu-icon"></i></span>
        </div>
        <!-- Latest version and docs link -->
        <p class="build-info">Latest MicroPython build:
            <a href="https://github.com/brilliantlabsAR/micropython/releases/latest" target="_blank"
                id="latestVersion"></a>.
            Use <b>machine.git_tag</b> to check your current version. For full reference, check out the
            <a href="https://docs.brilliant.xyz/micropython/micropython/" target="_blank">documentation</a>.
        </p>
        <!-- <div class="tabs">
            <button class="tab console-btn active" onclick="tabSwitch('console')">Console</button>
            <button class="tab editor-btn " onclick="tabSwitch('terminal')">Editor</button>
        </div> -->
        <div class="console-area">
            <!-- REPL console -->
            <textarea type="textarea" id="replConsole" rows=20 autocomplete="off" autocorrect="off" autocapitalize="off"
                spellcheck="false" placeholder="" onpaste="pasteEvent();event.preventDefault()"></textarea>
            <!-- <div class="controls"> -->
                <!-- <div class="arrow-pad">
                    <div class="arrow up" data-cmd="UP">&uarr;</div>
                    <div class="arrow down" data-cmd="DOWN" >&uarr;</div>
                    <div class="arrow left" data-cmd="LEFT">&uarr;</div>
                    <div class="arrow right"  data-cmd="RIGHT">&uarr;</div>
                </div>
                <div class="arrow-toggle"><span>&rsaquo;</span></div> -->
            <!-- </div> -->
            <!-- Buttons -->
            <div class="buttons">

                <button id="connectButton" title="Open Bluetooth connection pane">Connect</button>

                <button onclick="sendUartData('\x01'); replConsole.focus()" name="controlButton" disabled
                    title="Enter raw REPL mode (Ctrl-A)">Ctrl-A</button>

                <button onclick="sendUartData('\x02'); replConsole.focus()" name="controlButton" disabled
                    title="Enter normal REPL mode (Ctrl-B)">Ctrl-B</button>

                <button onclick="sendUartData('\x03'); replConsole.focus()" name="controlButton" disabled
                    title="Interrupt a running program (Ctrl-C)">Ctrl-C</button>

                <button onclick="sendUartData('\x04'); replConsole.focus()" name="controlButton" disabled
                    title="Reset the device (Ctrl-D)">Ctrl-D</button>

                <button onclick="sendUartData('\x05'); replConsole.focus()" name="controlButton" disabled
                    title="Enter paste mode (Ctrl-E)">Ctrl-E</button>

                <button onclick="clearConsole();"
                    title="Clear console (Cmd-k or Ctrl-k)">Clear</button>

            </div>
        </div>
        <div class="file_editor off">
            <div id="editor"></div>
            <div class="buttons">
                <button title="Terminal"> > </button>
                <button>Run</button>
                <button>clear</button>
            </div>
        </div>
       

        <img id="photo"></img>

        <!-- Footer -->
        <footer>

            <p>For help, bug reporting, and source code, visit the
                <a href="https://github.com/brilliantlabsAR/web-bluetooth-repl" target="_blank">repository</a>
            </p>

            <p>Copyright © 2023 <a href="https://www.brilliant.xyz" target="_blank">Brilliant Labs</a></p>

        </footer>

    </div>

</body>
<script src="{% static 'js/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/ext-language_tools.js' %}" type="text/javascript" charset="utf-8"></script>
<!-- Javascript for interacting with the REPL console and buttons -->
<script>
    // Text shown in the REPL when there is no connection
    const replPlaceholderText =
        "Welcome to the MicroPython Web REPL. Connect via Bluetooth using the button below.\n\n" +
        "Currently, only Chrome desktop supports Web Bluetooth which is used here.\n\n" +
        "You're welcome to fork, contribute, and suggest bugfixes for this code within the repository linked below."

    // Reference to the REPL console and buttons
    const replConsole = document.getElementById('replConsole');
    const connectButton = document.getElementById('connectButton');
    const controlButtons = document.getElementsByName('controlButton');
    const IMG_TAG = "#photo"
    const menuBtn = document.querySelector('.menu-btn')
    const spinner = document.querySelector('.lds-spinner')
    
    var editor = ace.edit("editor", {
    mode: "ace/mode/python",
    theme: "ace/theme/nord_dark",
    selectionStyle: "text",
    showPrintMargin : false,
    enableEmmet:true,
    wrap:true,
    enableBasicAutocompletion: true,
    enableSnippets: true,
    enableLiveAutocompletion: true
})
    // editor.setTheme("ace/theme/nord_dark");
    // editor.session.setMode("ace/mode/python");
    // // setTimeout(()=>{
    //     let rplUser = localStorage.getItem("replUser");
    //     if(rplUser && JSON.parse(rplUser).username){
    //         rplUser = JSON.parse(rplUser)
    //         let img = `<img class="avatar" src="https://cdn.discordapp.com/avatars/${rplUser.id}/${rplUser.avatar}?size=80">`
    //         document.querySelector(".heading").innerHTML = img + " <span>" + rplUser.username+"</span>"
    //     }else{
    //         // window.location ="../login"
    //     }
        document.querySelector('.menu-close').addEventListener('click',()=>{
            document.querySelector('.sidebar').classList.add('close')
        })
    //     document.querySelector('.logout-btn').addEventListener("click",function(){
    //         localStorage.removeItem("replUser")
    //         window.location = "../login"
    //     })
    // },2000)
    
</script>
<script src="{% static 'js/terminal_v2.js' %}"></script>

<!-- Populates the latest MicroPython version number via an API -->
<script type="module">

    // Import GitHub Octokit API
    import { Octokit } from "https://cdn.skypack.dev/@octokit/core";

    // Reference to the <a> link where we'll insert the version string
    const latestVersion = document.getElementById('latestVersion');

    // Get the version from the API and populate the value
    (async function getVersion() {

        // Call the API for latest release
        const octokit = new Octokit({});
        const latestRelease = await octokit.request('GET /repos/{owner}/{repo}/releases/latest', {
            owner: 'brilliantlabsAR',
            repo: 'monocle-micropython'
        });

        // Set the inner value of the <a> link to the tag string
        latestVersion.innerHTML = latestRelease.data.tag_name;
    })();

</script>

</html>