{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" href="{% static 'css/pairing_style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />

    <!-- SEO title & description -->
    <title>MicroPython Web REPL | Brilliant Labs</title>
    <meta name="description" content="Web Bluetooth based REPL for Brilliant Labs AR devices.">
    <link rel="canonical" href="https://repl.brilliant.xyz" />

    <!-- Facebook & Twitter card meta -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@brilliantlabsAR" />
    <meta property="og:title" content="MicroPython Web REPL | Brilliant Labs" />
    <meta property="og:description" content="Web Bluetooth based REPL for Brilliant Labs AR devices." />
    <meta property="og:image" content="https://repl.brilliant.xyz/images/share.png" />
    <meta property="og:url" content="https://repl.brilliant.xyz/login" />
    <meta property="og:type" content="website" />

</head>

<body>

    <div class="main">
			<h2 class="heading">Connect <img src="{% static 'images/BLE_icon.png' %}../images/BLE_icon.png" alt="" style="width:20px;"></h2>
			<p class="sub-heading">Bring your Monocle close to your phone</p>
		
    </div>
    <div class="pairing">
        <img class="monocle-full-img" src="{% static 'images/Monocle.png' %}" alt="Monocle Image">
        <img class="down" src="{% static 'images/Down_arrow.png' %}" alt="Down arrow">
        <div class="spinner">
            <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        <img class="up" src="{% static 'images/Up_arrow.png' %}" alt="Up arrow">
        <img class="phone-img" src="{% static 'images/Phone.png' %}" alt="Phone Image">    
    </div>
    <script>
    function pairingDone(){
        document.querySelectorAll(".pairing .spinner,.pairing .up,.pairing .down").forEach(el=>{
            el.classList.add("hide");
        // el.style.display = "none";
        })
        document.querySelector(".pairing .spinner").remove()
        setTimeout(()=>{
            window.location = "{% url 'home' %}"
        },2000)
    }
    </script>
</body>
</html>
